html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width:xxpx; /* enter a pixel value more than 1px that distorts the layout on resize */
    }